body {
    background-color: rgb(201, 130, 25);
}

p {
    color: rgb(238, 235, 235);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   text
}

img{
    width: 500px; height: 250px; center: center; display: block; margin-left: auto; margin-right: auto;
}


.highlight {
    color: purple;
    font-weight: bold;
}

#myheader {
    color: rgb(230, 213, 213);
    padding: 40px;
    text-align: center;
}

p{
    margin: 20px; /*Outside space*/
    padding: 10px;/*Inside space*/
    border: 2px solid rgb(0, 0, 0); /*Visable outline*/

}

a:link {
    color: rgb(218, 221, 13);

}


a:visited {
    color: rgb(0, 0, 0);
}